table, th, td {
    border:3px solid lightcoral;
    text-align: center;
  }

table{
    width: 80%;
    margin:20px;
}

#btn{
    background-color: lightgreen;
    text-align: center;
    width: 70px;
}